@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.bb {
  @apply border-b-3 border-amber-400;
}

* {
  font-family: "Lexend", sans-serif;
}
